{% extends 'base.html.twig' %}

{% block title %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <p>Vous n'honorerez pas les autres participants de votre présence ! c dommage ...</p>
    <a href="{{  path('main_inscription') }}">Choisir un autre sortie</a>

{% endblock %}

{% block body %}

{% endblock %}

