{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <p>Valeur de max : {{ max }}</p>



        <p>{{ errorMax}} </p>
    <p>{{ errorDate }}</p>
    <p><a href="{{  path('main_inscription') }}">Choisir un autre endroit pour sortir</a> </p>



{% endblock %}

