{% extends 'base.html.twig' %}

{% block body %}
    <h1>Viens on sort !</h1>

    {% if app.user %}
        <div class="mb-3">
            Bienvenido {{ app.user.userIdentifier }}

        </div>
    {% endif %}

    {% for campus in campuses %}

        <ul>
            <li><a href="{{ path('app_detail_city',{'id': campus.id} ) }}">{{ campus.name }}</a></li>
        </ul>
    {% endfor %}
{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}