{% extends 'base.html.twig' %}




{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <h1>Viens on sort !</h1>



    {% if app.user %}
        <div class="mb-3">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="areUAdmin">

                    <p>Vous etes un administrateur ? </p>
                    <a href="{{ path('app_admin') }}">Cliquez ici </a>



                </div>






            {% endif %}


            Bienvenido {{ app.user.userIdentifier }}


        </div>
    {% endif %}



{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}