/*body {
    background-color: skyblue;
}*/

/************************ style for outing form ****************************/
.outing-form-section,
.list-outing-page-section {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.outing-form-section {
    width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}

.outing-form-section h2,
.list-outing-page-section h2 {
    font-size: 2rem;
}

.add-outing-form,
.search-form {
    display: flex;
    gap: 2rem;
    align-content: center;
}

.outing-duration-field,
.outing-form-location-field,
.search-date{
    display: flex;
    justify-content: start;
    align-items: center;
}

.add-outing-form input,
.add-outing-form select,
.add-location-form input,
.add-location-form select,
.search-form input,
.search-form select {
    padding: 0.5rem;
    margin: 0.5rem;
}

.outing-form-town-field select {
    width: 79%;
}

.btn-outing-add {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.btn-outing-add button {
    padding: 1rem;
}

.add-outing-form label {
    align-self: center;
}

/*.outing-textarea-field {
    display: flex;
    align-items: center;
}*/

.outing-form-add-location-icon {
    border: 3px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 0.2rem;
}

.outing-form-add-location-icon i {
    color: black;
    font-weight: bold;
}




/******************************************** Outing list page *************************************/
.search-form {
    justify-content: space-between;
}

.search-form input[type=text] {
    border-radius: 15px;
}

.search-btn button{
    padding: 2rem;
}

.list-outing-page-section table {
    margin-top: 2rem;

}

.list-outing-page-section a:hover {
    text-decoration: underline;
}

.created-outing-link {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
}

.created-outing-link a {
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 5px 3px 3px 6px rgb(45, 45, 46);
}

.display-date  {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display-date p {
    font-weight: bold;
    font-size: 1.5rem;
}


