
<nav>

    <ul>

        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('app_login') }}">Login</a></li>
        <li><a href="{{ path('app_logout') }}">Home</a></li>
        <li><a href="{{ path('app_admin') }}">Home</a></li>
    </ul>

</nav>
