{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'form/form_template.html.twig' with {form : csvForm} %}
        {% block title %} <title> Inscription CSV </title>{% endblock %}
        {% block buttonLabel %} Enregistrer {% endblock %}
    {% endembed %}
    <a href="{{ path('detail') }}">Annuler</a>
{% endblock %}

