{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <a class = "link_button" href="{{ path('update_user') }}">Enregistrer</a>
        <a href="{{ path('main_home') }}">Annuler</a>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

